* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
}

.time {
    font-size: 5rem;
    align-self: center;
    margin-top: -5rem;
}

.crypto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.crypto>span {
    font-size: 1.3rem;
}

#crypto {
    font-size: 1.3rem;
    text-align: center;
}

#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
}

#weather>img {
    width: 70px;
    margin-right: 10px;
}

.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
}

.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}